
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-color: #8D8D8D;
  line-height: 35px;
}
.text-muted{
	color:#FFF;
}

.ftr{

	color:#000000;
}
