.navbar-default {
  background-color: #a50c10;
  border-color: #da4551;
  height: 50px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #d8d3dc;
}
.navbar-default .navbar-text {
  color: #c0c0c0;
}
.navbar-default .navbar-nav > li > a {
  color: #c0c0c0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #d8d3dc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #d8d3dc;
  background-color: #da4551;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #d8d3dc;
  background-color: #da4551;
}
.navbar-default .navbar-toggle {
  border-color: #da4551;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #da4551;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #a50c10;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #a50c10;
}
.navbar-default .navbar-link {
  color: #a50c10;
}
.navbar-default .navbar-link:hover {
  color: #d8d3dc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d8d3dc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d8d3dc;
    background-color: #da4551;
  }
}